@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full hover:bg-primary;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans antialiased overflow-x-hidden;
}

#root {
  @apply w-full;
}